@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

header, body, 
footer {
    margin: 0 auto;
    border: 1px solid rgb(190, 228, 240);
    max-width: 1320px;
}

header {
    background-color: rgb(62, 169, 219);;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(132, 195, 231);
}

h1 {
    font-size: 2rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: whitesmoke;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

.navigation a {
    display: none;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    color: white;
}

.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
}

.wrap {
    flex-wrap: wrap;
}

#ham-menu {
    font-size: 1.5rem;
    border:0;
    background: none;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    content: "☰";
}

#ham-menu::before {
    content: "☰";
}

#ham-menu.open::before {
    content: "❌";
}

.open a {
    display: block;
}

/*Temple pictures*/
main {
    max-width: 1220px;
    margin: 10px;
    padding: 2px;
}

h2 {
    text-align: center;
    font-size: 1rem;
}

.temple-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    column-gap: 70px;
    row-gap: 10px;
}

figure {
    border: 1px solid #cccccc;
    padding: 4px;
    margin: auto;
}

figure img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

figcaption {
    color: white;
    font-style: italic;
    padding: 4px;
    text-align: center;
}

footer {
    background-color:rgb(62, 169, 219);;
    color: #fff;
    padding: 20px;
    text-align: center;
}