@media screen and (min-width: 641px) {

    h2 {
        font-size: 29px;
    }

    #ham-menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navigation {
        max-width: 800px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .wrap {
        flex-wrap: wrap;
    }
    
    .navigation a {
        display: block;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }
    
    .navigation a:hover {
        border: 1px solid whitesmoke;
        color: rgb(109, 7, 7);
    }
}